.panel {
  width: 100%;
  margin-top: 12px;
  padding-left: 12px;
}

.item {
  padding: 8px;
  background: #fff;
  // border-bottom: 1px solid #e8e8e8;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.row {
  margin-bottom: 8px;
}

.types {
  padding: 8px;
  font-size: 18px;
}

.group {
  display: inline-block;
  width: 100%;
}

.target {
  width: 100%;
  margin-bottom: 8px;
}

.radioGroup {
  margin: 8px 0;
}

:global .select-size-m {
  min-width: 150px  !important;
}

.cardBg {
  background-color: #fff;
  // padding: 5px;
}

.collapseCustomPanel {
  border: 1px solid #f0f0f0;
}
:global .ant-tabs-top > .ant-tabs-nav {
  margin-bottom: 0 !important;
}

.sort-item {
  font-weight: 400;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 6px 15px;
  margin-bottom: 8px;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  color: rgba(0, 0, 0, 0.65);
}

.titleIcon {
  span {
    display: inline-block;
    position: relative;
    &:after {
      position: absolute;
      content: '*';   
      right: -10px;
      top: 0;
      color: red;
    }
  }
}

.downCountProperty {
  width: 100%;
}

.cacheForm {
  :global .ant-form-item-explain-connected {
    font-size: 12px;
  }
}
